In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import time

In [2]:
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(2)

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [5]:
news_title_all = soup.findAll("div", {"class": "content_title"})
news_p_all = soup.findAll("div", {"class": "article_teaser_body"})

In [6]:
for title in news_title_all:
    news_title = news_title_all[0].text
    
for paragraph in news_p_all:
    news_p = news_p_all[0].text

# NASA IMAGE URL SCAPE

Use splinter to Click the "Mars in natural color in 2007" image 
to bring up the full resolution image

In [7]:
url_pic = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_pic)

In [8]:
fullimage = browser.find_by_id('full_image')
fullimage.click()

In [9]:
browser.is_element_present_by_text('more info', wait_time=2)
more_info = browser.links.find_by_partial_text('more info')
more_info.click()

In [10]:
html = browser.html
moreinfo_soup = bs(html, 'html.parser')

In [11]:
image_title = moreinfo_soup.find('h1', class_='article_title')

In [12]:
image_title = str(image_title.text)

In [13]:
image_title = image_title.replace('\n', '')
image_title = image_title.replace('\t', '')

In [14]:
image_title

'High-Resolution Self-Portrait by Curiosity Rover Arm Camera  '

In [15]:
image_url = moreinfo_soup.select_one('.main_image').get('src')

In [16]:
image_url

'/spaceimages/images/largesize/PIA16239_hires.jpg'

In [17]:
full_image_url = f'https://www.jpl.nasa.gov{image_url}'

# twitter

In [18]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)
time.sleep(2)

In [19]:
html = browser.html
twitter_soup = bs(html, "html.parser")

In [20]:
for x in twitter_soup.find('p', class_ ="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"):
    mars_weather = x
    break

# Mars Fact

In [21]:
import pandas as pd
fact_url = 'https://space-facts.com/mars/'
browser.visit(fact_url)
time.sleep(2)

In [22]:
fact_table = pd.read_html(fact_url)
df = fact_table[0]

In [23]:
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
df.columns = ['Description','Facts']
df

            Description                          Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Facts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [26]:
import re
hemisphr_img_urls = []
for x in range(0,4):
    
    hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(hemisphere_url)
#     html = browser.html
#     hemisphr_soup = bs(html, "html.parser")

    #goes by each header and click them in order
    hemisphere = browser.find_by_tag('h3')[x]
    hemisphere.click()
    time.sleep(2)
    html = browser.html
    hemisphere_soup = bs(html, "html.parser")
    hemisphere_soup = hemisphere_soup.find_all("div", {"class": "downloads"})
    hemisphr_img_urls.append(hemisphere_soup[0].find_all("a")[0]['href'])
    
#     sample_page = browser.find_by_text('sample')[x]
#     sample_page.click
#     sample_page = browser.html
#     sample_soup = bs(html, "html.parser")
#     print(sample_soup.prettify())
#     html = browser.html
#     sample_soup = bs(html, "html.parser")
# #     for x in soup.find_all('a'):
# #         print(link.get('href'))
# #     sample_link = soup.find_all('a', text="Sample")
#     all_Sample = sample_soup.find_all(string="Sample")
    
    
#     hemisphr_image_urls.append(x.href)

           
    

#     full_image = browser.find_link_by_text('Sample').get('src')
#     full_image = browser.find_link_by_href('full.jpg').get('src')
#     hemisphr_image_urls.append(full_image)
    
    
#     sample = browser.links.find_by_partial_text('sample')
#     sample.click()
#     sample_soup = bs(html, "html.parser")
#     hemisphr_image_urls.append(sample_soup.select_one('img').get('src'))
    
#soup.find_all(string="Sample")

In [27]:
hemisphere_soup = hemisphere_soup.find_all("div", {"class": "downloads"})

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [ ]:
hemisphr_img_urls.append(hemisphere_soup[0].find_all("a")[0]['href'])

In [28]:
hemisphr_img_urls

['http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg']

In [37]:
browser.quit()

# MongoDB and Flask

In [33]:
import pymongo
conn = "mongodb://127.0.0.1:27017"
client = pymongo.MongoClient(conn)

In [34]:
db = client.mission_mars

In [35]:
collection = db.info_mars

In [36]:
db.info_mars.insert_many(
        [{
            "news_title": news_title,
            "news_paragraph": news_p,
            "image_url": full_image_url,
            "weather": mars_weather,
            "hemi_url": hemisphr_img_urls
        }])